/**
 * 디자인 판 v1.0
 */

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


body {
	padding: 0;
	margin: 0;
}
a {
	color: #1976d2;
	text-decoration: none;
	background: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
span {
	display: inline;
}


/**
 * 배경 이미지
 */


.img-main {
	background: url('https://gamepann.github.io/assets/img/main.jpg');
	background-size: cover;
	color: white;
}


/**
 * 글자 스타일
 */

.h1 {
	font-size: 50px;
}
.h2 {
	font-size: 40px;
}
.h3 {
	font-size: 30px;
}
.h4 {
	font-size: 20px;
}
.article {
	padding: 10px;
	font-size: 18px;
	line-height: 25px;
}


/**
 * 레이아웃들
 */

.layout-common {
	padding: 25px;
}

.layout-horizontal {
	padding: 25px;
	overflow: scroll;
}
.layout-horizontal div {
	display: inline;
	margin-right: 10px;
}

.container {
	display: -webkit-flex;
	display:flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	padding: 0;
	margin: 0;
	width: 100%;
}
.container div {
	box-sizing: border-box;
	min-height: 150px;
	min-width: 150px;
	width: 100%;
}

/**
 * 위젯들
 */


.nav-bar {
	font-size: 20px;
	background: white;
	color: #9c27b0;
	padding: 15px;
	margin: 0;
	border-bottom: 2px solid #bdbdbd;
}

.card {
	border-radius: 10px;
	box-shadow: 0 0 8px rgba(0 , 0 , 0 , 0.3);
	padding: 20px;
}




/**
 * 반응형
 */

@media(min-width: 800px) {
	.img-main {
		background: url('https://gamepann.github.io/assets/img/main-pc.jpg');
	}
	.container {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}